


{% extends "bootstrap/base.html" %} {% block title %} Home {% endblock %} {% block content %}
{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
{% endblock %}
<h2 align="center">Create a Friend Group</h2>
<div class="container" id="mainContainer">
    <form action="/friendGroupAuth" method="POST">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>Error: </strong> {{error}}
        </div>
        {% endif %}
        <div class="form-group">
            <label for="groupname">Groupname</label>
            <input type="text" class="form-control" id="groupname" name="groupname" required>
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" name="Description" required>
        </div>

        <div id="addMembersContainer">
            <input type="text" id="member" name="member" value="" required>Number of members: (max. 10)<br/>
            <a href="#" id="filldetails" class="btn btn-primary btn-block" onclick="addFields()">Proceed</a>
        <div id="addMembersContainer"/>

<!--         <input type="submit" class="btn btn-primary btn-block" value="Create">
 -->
    </form>
</div>




{% endblock %}
