<!-- <html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1> 
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Time</th>
	<th>Post</th>

{% for line in posts %}
	<tr>
		<td>{{line.timest}}</td>
		<td>{{line.content_name}}</td>
	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
 -->
{% extends "bootstrap/base.html" %} {% block title %} Home {% endblock %} {% block content %}
<div class="container">
    <h2 align=center>Welcome, {{username}}</h2>
    <div class="container">
        <form action="/post" method="POST">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <strong>Error: </strong> {{error}}
            </div>
            {% endif %}
            <div class="form-group">
                <input type="text" class="form-control" id="content" name="content" placeholder="Content Title" required>
                <input type="text" class="form-control" id="filepath" name="filepath" placeholder="Filepath" required>
                <input type="checkbox" class="form-check-input" name="public" checked> Public Post
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Post">
        </form>
    </div>
    <div class="container">
        <h2>Post Information</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Post</th>
                </tr>
            </thead>
            <tbody>
                {% for line in posts %}
                <tr>
                    <td>{{line.timest}}</td>
                    <td>{{line.content_name}}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <div class="container">
        <a class="btn btn-info" href="/logout">Logout</a>
    </div>
</div>
{% endblock %}