 {% extends "bootstrap/base.html" %} {% block title %} Home {% endblock %} {% block content %} {% block scripts %} {{ super() }}
<script src="{{url_for('static', filename='scripts.js')}}"></script>
<style>
.selected {
    background-color: grey;
    color: #000000;
}

.viewImg {
    width: 50%;
}
</style>
{% endblock %}
<div class="container">
    <h2 align=center>Welcome, {{username}}</h2>
    <div class="container">
        <form action="/post" method="POST" id="postForm">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <strong>Error: </strong> {{error}}
            </div>
            {% endif %}
            <div class="form-group">
                <input type="text" class="form-control" id="content" name="content" placeholder="Content Title" required style="margin-bottom: 5px">
                <input type="text" class="form-control" id="filepath" name="filepath" placeholder="Filepath" required style="margin-bottom: 5px">
                <label class="radio-inline">
                    <input type="radio" name="pubPriv" value="True" checked>Public
                </label>
                <label class="radio-inline">
                    <input type="radio" name="pubPriv" value="False">Private
                </label>
                <input id="postBtn" type="submit" class="btn btn-primary btn-block" value="Post">
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Share with FriendGroup: </h4>
                            </div>
                            <div class="modal-body" style="text-align:center;">
                                {% if fgownerdata %}
                                <table id="shareFriendGroupTable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Friend Group Name</th>
                                            <!--                                     <th>Members</th> -->
                                            <th>Owner</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for line in fgownerdata %}
                                        <tr id={{line.group_name}}{{line.username_creator}}>
                                            <td>{{line.group_name}}</td>
                                            <td>{{line.username_creator}}</td>
                                            <!--                                     <td>{{line.timest}}</td>
                                    <td>{{line.content_name}}</td> -->
                                        </tr>
                                        {% endfor%}
                                    </tbody>
                                </table>
                                <input class="btn btn-primary" type="button" name="shareTo" id="shareTo" value="Confirm" data-dismiss="modal" /> {% else %} {{"You have no friend groups to share content with :("}} {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        </div>
        <div class="container">
            <h3>Manage Tags</h3> {% if managetags %}
            <table class="table table-bordered table-hover">
                <thead>
                    <th colspan="5" style="text-align:center">Approve/Deny Tags</th>
                </thead>
                <thead>
                    <tr>
                        <th>Post ID</th>
                        <th>Username</th>
                        <th>Time</th>
                        <th>Post</th>
                        <th>Approve?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in managetags %}
                    <tr id={{line.id}}>
                        <td>{{line.id}}</td>
                        <td>{{line.username}}</td>
                        <td>{{line.timest}}</td>
                        <td>{{line.content_name}}
                            <td>
                                <a class="btn lightlyPadded" role="btn" href="/approvetag/{{line.id}}">Yes</a>/
                                <a class="btn lightlyPadded" role="btn" href="/rejecttag/{{line.id}}">No</a>
                            </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
            {% endif %} {% if taggedindata %}
            <table class="table table-bordered table-hover">
                <thead>
                    <th colspan="5" style="text-align:center">Posts You're Tagged In</th>
                </thead>
                <thead>
                    <tr>
                        <th>Post ID</th>
                        <th>Username</th>
                        <th>Time</th>
                        <th>Post</th>
                        <th>Untag?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in taggedindata %}
                    <tr id={{line.id}}>
                        <td>{{line.id}}</td>
                        <td>{{line.username}}</td>
                        <td>{{line.timest}}</td>
                        <td>{{line.content_name}}
                            <td>
                                <a class="btn" role="btn" href="/untag/{{line.id}}">Untag</a>
                            </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
            {% endif %} {% if not managetags and not taggedindata %} {{"No Tags to Manage"}} {% endif %}
        </div>
        <div class="container">
            <h3> Friend Groups </h3> {% for fgowner in fgownerdata %} {{fgowner.group_name}}{{" (owner)"}}
            <br/> {% endfor %} {% for fgmember in fgmemberdata %} {{fgmember.group_name}}{{" (member)"}}
            <br/> {% endfor %}
            <a class="btn btn-primary" role="btn" href="/friendgroup"> Create Friend Group </a> <a class="btn btn-primary" role="btn" href="/addToFriendGroup"> Add To Friend Group </a>
        </div>
        <div class="container">
            <h3>Post Information</h3> {% if posts %}
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Post ID</th>
                        <th>Username</th>
                        <th>Time</th>
                        <th>Post</th>
                        <th>Picture</th>
                        <th>Status</th>
                        <th>Tagged</th>
                        <th>Comments</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in posts %}
                    <tr id={{line.id}} data-toggle="modal" data-target="#tag-modal" onmouseover="" style="cursor: pointer " onclick="getId(this)">
                        <td>{{line.id}}</td>
                        <td>{{line.username}}</td>
                        <td>{{line.timest}}</td>
                        <td>{{line.content_name}}</td>
                        <td><img class="viewImg" src="{{line.file_path}}"></td>
                        <td>{% if line.public == 1 %} {{"Public"}} {% else %} {{"Private"}} {% endif %}</td>
                        <td>
                            {% for tag in tagData %} {% if line.id == tag.id %} {{tag.username_taggee}} </br>
                            {% endif %} {%endfor%}
                        </td>
                        <td>
                            {% for comment in commentData %} {% if line.id == comment.id%} {{comment.username}}: {{comment.comment_text}} {{comment.timest}} </br>
                            {% endif %} {%endfor%}
                        </td>
                        <td>
                            {% if username == line.username %}
                            <a class="btn" role="btn" href="/deletepost/{{line.id}}">Delete</a> {% else %} Not Owner {% endif %}
                        </td>
                    </tr>
                    {% endfor%}
                    <div class="modal fade" id="tag-modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Add Tags</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/home" method="POST" id="formCont">
                                        {% if error %}
                                        <div class="alert alert-danger" role="alert">
                                            <strong>Error: </strong> {{error}}
                                        </div>
                                        {% endif %}
                                        <div id="tagUsersContainer">
                                            <div class="form-group" id="tagUsersForm">
                                                <input type="text" class="form-control" name="tags" placeholder="Tag a user" required style="margin-bottom: 5px">
                                            </div>
                                        </div>
                                        <a href="#" id="btnMore" class="btn btn-info" onclick="addForms()">Add More</a>
                                        <!-- <button type="button" class="btn btn-info" onclick="addForms()"> Add More</button> -->
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>
            {% else %} {{"No Posts Visible"}} {% endif %}
        </div>
        <div class="container">
            <a class="btn btn-info" href="/changeuser">Change Username</a>
            <a class="btn btn-info" href="/changepass">Change Password</a>
            <a class="btn btn-info" href="/logout">Logout</a>
        </div>
    </div>
    {% endblock %}