<!-- <!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="container">
        {% if not message %}
        <h1 align=center>Pied Piper</h1>
        <div class="btn-group-lg" role="group">
            <a type="button" class="btn btn-primary" href="/login ">Login</a>
            <a type="button" class="btn btn-primary" href="/register ">Register</a>
        </div>
        {% endif %} {% if message %}
        <a href="/logout ">Logout</a>
        <a href="/remove_account ">Remove Account</a>
        <p class="message ">You are logged in {{message}}. You have {{num}} follower(s)</p>
        </br>
        <a href="/tweets ">View your tweets</a> </br>
        <a href="/find_people ">Find people to follow</a> </br>
        <a href="/unfollow ">Unfollow someone</a> </br>
        <a href="/view_followed ">View people you have followed</a> </br>
        </br>
        <h4>15 most recent tweets from you and your followers </h4> </br>
        {% for line in tweets%}
        <p>{{line}}</p>
        <hr> {% endfor %} {% endif %}
    </div>
</body>

</html> -->
{% extends "bootstrap/base.html" %} {% block title %} Home {% endblock %} {% block content %}
<style type="text/css">
#navbarLink {
    color: #777 !important;
}

#homeLink:hover {
    text-decoration: none;
    color: #777 !important;
}

#rowHome {
    max-width: 75em;
    margin: 0 auto;
    margin-top: 4em;
}
</style>

<body>
    <header class="header clearfix">
        <nav class="navbar" style="margin-top: 3em; padding: 0 20px 0 20px;">
            <h2 id="navbarLink" class="text-muted" style="display: inline;"> <a id="homeLink" href="/"> PriCoSha</a></h2>
            <ul class="nav nav-pills" style="float:right">
                <li class="nav-items">
                    <a class="nav-link" href="/register.html"> Register </a>
                </li>
                <li class="nav-items">
                    <a class="nav-link" href="/login.html"> Sign In </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% if not message %}
        <div class="jumbotron" style="margin: 0 auto; text-align: center; max-width:75em;">
            <h1 class="display-3">PriCoSha</h1>
            <p class="lead">A simple, PriCoSha</p>
            <hr class="my-4">
            <p>For Anyone and Everyone</p>
            <p class="lead">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
                </div>
            </p>
        </div>
        <div id="rowHome" class="row marketing">
            <div class="col-lg-6">
                <h4>FriendGroups</h4>
                <p>Create groups with your friends and family!</p>
                <h4>Privacy</h4>
                <p>Share images, posts with certain FriendGroups or people. Or you can just keep it for your own eyes.</p>
            </div>
            <div class="col-lg-6">
                <h4>Friends</h4>
                <p>Connect with people from across the PriCoSha network! </p>
                <h4>Unwanted posts?</h4>
                <p>Had one too many that one night? Now you can quickly delete your posts!</p>
            </div>
            {% endif %} {% if message %}
            <a href="/logout ">Logout</a>
            <a href="/remove_account ">Remove Account</a>
            <p class="message ">You are logged in {{message}}. You have {{num}} follower(s)</p>
            </br>
            <a href="/tweets ">View your tweets</a> </br>
            <a href="/find_people ">Find people to follow</a> </br>
            <a href="/unfollow ">Unfollow someone</a> </br>
            <a href="/view_followed ">View people you have followed</a> </br>
            </br>
            <h4>15 most recent tweets from you and your followers </h4> </br>
            {% for line in tweets%}
            <p>{{line}}</p>
            <hr> {% endfor %} {% endif %}
        </div>
</body>
{% endblock %}